/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: auto;
}
.carousel {
    text-align: top;
}
.carousel-caption ul {
    vertical-align: center;
    font-size: 1.2em;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
}
@media(min-width:640px) {
    .carousel .item {
      height: 450px;
    }
}
@media(min-width:800px) {
    .carousel .item {
      height: 400px;
    }
}
.carousel-inner > .item > img {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
}
