
<!-- About Start -->

<section id="about" class="container content-section text-center">
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2><i class="fa fa-cogs"></i> About</h2>
        <p>
        IT Problem Solving by a seasoned veteran.<br />
        No problem too large or small, fix your pain points, build your business.
        <br /><br />
        <small>
        I’m a technology advisor to digital businesses worldwide. I’ve helped dozens of startups on five continents do more business at higher margin while cutting their costs and improving IT efficiency. My specialties include workforce efficiency optimization, full-stack development, architectural and design services, and even branding and marketing.
        <br /><br />
        Basically, I help companies that build software to
        resolve their outstanding problems, finish tricky projects,
        speed up delivery, grow their IT effectiveness,
        and increase their bottom line.
        </small>

        <a href="#contact">How can I help you today?</a>
        </p>
      </div>
  </div>
</section>

<!-- About End -->
