<style>
.nudge { margin-left: 2px; }
.colheight { height: 285px; padding: 0px 45px; }
.aboutpoints h4 { margin-bottom: 5px; }
hr { width: 50%; margin: 5px auto;}
</style>
<div class="row aboutpoints">
    <div class="col-md-4 col-sm-6 col-xs-12 colheight">
        <h4>
            <span class="fa-stack fa-3x fa-fw">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="nudge fa fa-code-fork fa-stack-1x text-primary"></i>
            </span><br />
            Development
        </h4>
        <b>Any stack</b> -- Frontend, Backend, Mobile, Wearable, Embedded
        <hr />
        Python, Ruby, PHP, Java or JS, .Net, rPi or Arduino, SQL or NoSQL
        <hr />
        UX, unit testing, performance tuning, big data, machine learning
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 colheight">
        <h4>
            <span class="fa-stack fa-3x fa-fw"><i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-users fa-stack-1x text-muted"></i>
            </span><br />
            Workforce
        </h4>
        Fix morale problems. Happy teams build better projects <b>faster</b>, period.
        <hr />
        Team-building, liaison to devs and managers, identify detractors
        <hr />
        Most clients see a <b>measurable</b> 100% increase in output
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 colheight">
        <h4>
            <span class="fa-stack fa-3x fa-fw">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-credit-card fa-stack-1x text-success"></i>
            </span><br />
            Marketing
        </h4>
        Growth-hacking, landing page optimization and ad campaigns
        <hr />
        Drive traffic, capture leads, build relationships, generate sales
        <hr />
        Build a brand identity, measure focus groups and leave your mark
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 colheight">
        <h4>
            <span class="fa-stack fa-3x fa-fw"><i class="fa fa-circle fa-stack-2x"></i>
            <i class="nudge fa fa-cubes fa-stack-1x text-danger"></i>
            </span><br />
            Operations
        </h4>
        Next-gen platforms for 2015: focus on your business, not servers
        <hr />
        High-availability, auto-scaling, capacity planning and monitoring
        <hr />
        Bare-metal, Virtualization or Containers, all with dev-parity
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 colheight">
        <h4>
            <span class="fa-stack fa-3x fa-fw"><i class="fa fa-circle fa-stack-2x"></i>
            <i class="nudge fa fa-institution fa-stack-1x text-warning"></i>
            </span><br />
            Architecture
        </h4>
        Plan your next project, or organize your current codebase
        <hr />
        Build it right every time -- design for 5-years-out, starting today
        <hr />
        Evangelize your toolchain, build process and developer practices
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 colheight">
        <h4>
            <span class="fa-stack fa-3x fa-fw"><i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-comments-o fa-stack-1x text-info"></i>
            </span><br />
            Training
        </h4>
        Empowerment and confidence -- Code is the future, code is king.
        <hr />
        One-on-one or group classes on any topic, "lab time", career advice
        <hr />
        Grow your personal masteries to dominate the future workplace
    </div>
</div>
