
<!-- Portfolio Start -->

<section id="portfolio" class="container content-section text-center">
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
          <h2><i class="fa fa-file"></i> Portfolio</h2>
          <p>Here are some of the businesses I've helped <u>just in 2015 alone</u>.</p>
<!-- Carousel
    ================================================== -->
    <div id="portfolioCaro" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#portfolioCaro" data-slide-to="0" class="active"></li>
        <li data-target="#portfolioCaro" data-slide-to="1"></li>
        <li data-target="#portfolioCaro" data-slide-to="2"></li>
        <li data-target="#portfolioCaro" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="container">
            <div class="carousel-caption">
                <h1><a href="http://glotro.co">GlobeTrotter</a></h1>
                <h5>CPC Advertising Analytics - High Volume </h5>
                <ul style="text-align: left">
                <li>Full architecture and design of project</li>
                <li>Feature development, data science and scaling</li>
                <li>Six DCs on four continents, big distributed data</li>
                <li>Self-healing "unbreakable" infrastructure</li>
                </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
                <h1><a href="http://traffichaus.com">TrafficHaus</a></h1>
                <h5>Online Advertising Network - 1 billion daily visits</h5>
                <ul style="text-align: left">
                <li>Doubled developer team efficiency</li>
                <li>Found and patched security holes</li>
                <li>Eliminated 80% of servers, saved $200k/yr</li>
                <li>Reduced ad serving from 50ms to 7ms</li>
                </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
                <h1><a href="http://yago.to">YaGo</a></h1>
                <h5>Social Photo Sharing - iPhone App</h5>
                <ul style="text-align: left">
                <li>1,000x API speedup using 10% of hardware</li>
                <li>"Cattle-Head" fault-tolerant infrastructure</li>
                <li>Introduced testing, eliminated downtime</li>
                <li>Drastically improved app responsiveness</li>
                </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
                <h1><a href="http://staffingnation.com">StaffingNation</a></h1>
                <h5>Talent Staffing Agency - San Diego</h5>
                <ul style="text-align: left">
                <li>Strategized new architecture on Docker</li>
                <li>Blue/Green deploy when Jenkins build passes</li>
                <li>Push-to-deploy "no-more-dev/ops" paradigm</li>
                <li>Removed human blockers between dev + QA</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#portfolioCaro" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#portfolioCaro" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
      </div>
  </div>
</section>

<!--Portfolio End -->
