<section id="ProjectMethod" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2 class="section-title"><span><i class="fa fa-code"></i> PROJECT METHOD</span></h2>


            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="process">
                        <div class="process-box"> 
                            <i class="fa fa-4x fa-pie-chart nudge">
                            </i>
                            <h4>ANALYZE
                            </h4> 
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="process">
                        <div class="process-box"> 
                            <i class="fa fa-4x fa-bug nudge"> </i>
                            <h4>
                                TEST
                            </h4> 
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="process">
                        <div class="process-box"> 
                            <i class="fa fa-4x fa-map">
                            </i>
                            <h4>STRATEGY
                            </h4> 
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="process">
                        <div class="process-box"> 
                            <i class="fa fa-4x fa-file-text">
                            </i>
                            <h4>CODE
                            </h4> 
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="process">
                        <div class="process-box"> 
                            <i class="fa fa-4x fa-envelope">
                            </i>
                            <h4>DELIVER
                            </h4> 
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="process">
                        <div class="process-box"> 
                            <i class="fa fa-recycle fa-4x">
                            </i>
                            <h4>REPEAT
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
